<%= stylesheet_link_tag 'custom_styles.css' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <div>
        <h1 class="product-heading">Product Created Form</h1>
      </div>

      <%= form_for @product, url: product_path(@product), method: :patch do |f| %>
        <div class="product-form">
          <div class="form-group row mt-3">
            <%= f.label :title, 'Title: <span class="text-danger">*</span>'.html_safe %>
            <%= f.text_field :title, class: "form-control", placeholder: 'Enter your Title', required: true %>
          </div>

          <div class="form-group row mt-3">
            <%= f.label :description, "Description:" %>
            <%= f.text_area :description, class: "form-control", placeholder: 'Enter your Description' %>
          </div>

          <div class="form-group row mt-3">
            <%= f.label :price, 'Price: <span class="text-danger">*</span>'.html_safe %>
            <%= f.text_field :price, class: "form-control", placeholder: 'Enter the price', required: true %>
          </div>

          <div class="form-group row mt-3">
            <%= f.label :compare_at_price, "Compare at Price:" %>
            <%= f.text_field :compare_at_price, class: "form-control", placeholder: 'Enter the compare_at_price' %>
          </div>

          <div class="form-group row mt-3 d-block">
            <%= f.label :category_id, 'Category' %>
            <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: true }, { class: "form-control dropdown" } %>
          </div>

          <div>
            <%= f.submit "Update Product", class: "btn btn-primary row mt-3" %>
            <%= link_to 'Back', products_path, class: "btn btn-secondary margin-button" %>
          </div>
          
        </div>
      <% end %>
    </div>
  </div>
</div>
