<%= stylesheet_link_tag 'custom_styles.css' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <div>
        <h1 class="product-heading">Product Created Form</h1>
      </div>
      <%= form_for @product do |f| %>
        <div class="product-form">
          <div class="form-group row mt-3 d-block">
            <%= f.label :title, "Title: <span class='required'>*</span>".html_safe %>
            <%= f.text_field :title, class: "form-control", placeholder: 'Enter your Title' %>
            <div>
              <% @product.errors.full_messages_for(:title).each do |message| %>
                <div style="color: red">
                  <%= message %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="form-group row mt-3 d-block">
            <%= f.label :description, "Description:" %>
            <%= f.text_area :description, class: "form-control", placeholder: 'Enter your Description' %>
          </div>

          <div class="form-group row mt-3 d-block">
            <%= f.label :price, "Price:" %>
            <%= f.text_field :price, class: "form-control", placeholder: 'Enter the price' %>
          </div>

          <div class="form-group row mt-3 d-block">
            <%= f.label :compare_at_price, "Compare At Price: <span class='required'>*</span>".html_safe %>
            <%= f.text_field :compare_at_price, class: "form-control", placeholder: 'Enter the compare_at_price' %>
            <div>
              <% @product.errors.full_messages_for(:compare_at_price).each do |message| %>
                <div style="color: red">
                  <%= message %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="form-group row mt-3 d-block">
            <%= f.label :category_id, 'Category' %>
            <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: true }, { class: "form-control dropdown" } %>
          </div>

          <div>
            <%= f.submit "Create Product", class: "btn btn-primary row mt-3" %>
            <%= link_to 'Back', products_path, class: "btn btn-secondary margin-button" %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
