<% content_for :title do %>
  <h1><%= @product_presenter.display_name %></h1>
<% end %>

<% content_for :product_details do %>
  <div class="mt-4">
    <p><strong>Title:</strong> <%= @product_presenter.display_name %></p>
    <p><strong>Description:</strong> <%= @product.description %></p>
    <p><strong>Price:</strong> <%= @product_presenter.price %></p>
    <p><strong>Compare at Price:</strong> <%= @product.compare_at_price %></p>
    <%= link_to 'Back', products_path, class: "btn btn-secondary margin-button" %>
  </div>
<% end %>

<% content_for :category_details do %>
  <div class="mt-4">
    <h2>Category Details:</h2>
    <p><strong>Name:</strong> <%= @product.category.name %></p>
  </div>
<% end %>

<% content_for :comments_section do %>
  <div>
    <p class="mt-4"><strong>Add Comments:</strong></p>
    <%= form_with(model: [@product, @comment], local: true) do |form| %>
      <div class="form-group">
        <%= form.text_area :content, placeholder: 'Write your comment here...', class: 'form-control' %>
      </div>
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <% if @product.comments.any? %>
    <div class="mt-4">
      <h4>Comments:</h4>
      <%= render partial: 'comments/comment', collection: @product.comments %>
    </div>
  <% else %>
    <p class="mt-4"><strong>No comments yet. Be the first to comment!</strong></p>
  <% end %>
<% end %>
